@import url(https://fonts.googleapis.com/css?family=Lato:300);

.wrapper {
  font-family: 'Lato', sans-serif;
}

.main {
  text-align: center;
  color: #fff;
}

.main-banner {
  width: 80%;
  margin: 30px auto;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.dashboard {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-flow: column;
  padding: 45px;
}

.dashboard-img-wrapper {
  margin-top: 30px;
  width: 100%;
}

.dashboard-img {
  width: 100%;
}

.dashboard-aside {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.best-time {
  composes: dashboard;
  flex-direction: row;
  background: rgba(0, 0, 0, 0);
  color: white;
}

.best-time-img-wrapper {
  composes: dashboard-img-wrapper;
  flex: 1;
}

.best-time-img {
  display: block;
  width: 40%;
  max-width: 400px;
  margin: auto;
}

.best-time-aside {
  composes: dashboard-aside;
  flex: 1;
}

.timezones {
  composes: dashboard;
}

.timezones-img-wrapper {
  composes: dashboard-img-wrapper;
}

.timezones-img {
  composes: dashboard-img;
}

.timezones-aside {
  composes: dashboard-aside;
}
